<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TipMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							t_title like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							t_content like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							id like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

    <select id="getList" resultType="domain.tip.TipVO">
		<![CDATA[
			select t_no, t_title, t_content, id, t_regtime, t_updatetime
			from tbl_tip
			where t_no > 0
			order by t_no desc
		]]>
	</select>

	<select id="getListWithPaging" resultType="domain.tip.TipVO">
		<![CDATA[
			select t_no, t_title, t_content, id, t_regtime, t_updatetime, replycnt
			from (
				select /*+ INDEX_DESC(tbl_tip pk_t_n) */
				rownum rn, t_no, t_title, t_content, id, t_regtime, t_updatetime, replycnt
				from tbl_tip
				where
		]]>
				<include refid="criteria"></include>
		<![CDATA[
				rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>

	<insert id="insert">
		insert into tbl_tip (t_no, t_title, t_content, id)
		values(tip_seq.nextval, #{t_title}, #{t_content}, #{id})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="t_no" order="BEFORE" resultType="long">
			select tip_seq.nextval from dual
		</selectKey>
		insert into tbl_tip (t_no, t_title, t_content, id)
		values(#{t_no}, #{t_title}, #{t_content}, #{id})
	</insert>

	<select id="read" resultType="domain.tip.TipVO">
		select t_no, t_title, t_content, id, t_regtime, t_updatetime
		from tbl_tip
		where t_no = #{t_no}
	</select>

	<delete id="delete">
		delete from tbl_tip where t_no = #{t_no}
	</delete>

	<update id="update">
		update tbl_tip
		set t_title = #{t_title},
		t_content = #{t_content},
		t_updatetime = sysdate
		where t_no = #{t_no}
	</update>

	<update id="updateReplyCnt">
		update tbl_tip set replycnt = replycnt + #{amount} where t_no = #{t_no}
	</update>

	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from tbl_tip
			where
		]]>
		<include refid="criteria"></include>
		<![CDATA[
			t_no > 0
		]]>
	</select>
</mapper>