<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item="type" collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'I'.toString()">
                            id like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'N'.toString()">
                            name like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'A'.toString()">
                            address like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'M'.toString()">
                            manager like '%' || #{keyword} || '%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getListWithPaging" resultType="domain.user.UserVO">
        <![CDATA[
            select id, pw, phone, name, address,manager
            from (
                select rownum rn, id, pw, phone, name ,address, manager
                from tbl_user
                where
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
                rownum <= #{pageNum} * #{amount}
            )
            where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>
    <!--정보 Insert-->
    <insert id="insert">
        insert into tbl_user (id,pw,phone,name,address)
        values (#{id},#{pw},#{phone},#{name},#{address})
    </insert>
    <!--존재하는 아이디 조회-->
    <select id="read" resultType="domain.user.UserVO">
        select * from tbl_user where id = #{id} and pw = #{pw}
    </select>
    <!--아이디로 정보 삭제-->
    <delete id="delete">
        delete from tbl_user where id = #{id}
    </delete>
    <!--정보 업데이트1-->
    <update id="update">
        update tbl_user
        set pw = #{pw},
         phone = #{phone},
         name = #{name},
         address = #{address},
         manager = #{manager}
         where id = #{id}
    </update>

    <select id="getCount" resultType="int">
        select count(*) from tbl_user
    </select>
    <!--
        <insert id="insertSelectKey">

            <selectKey keyProperty="id" order="BEFORE" resultType="String">
                select seq_user.nextval from dual
            </selectKey>

            insert into tbl_user (id,pw,phone,name,address,manager)
            values (#{id},#{pw},#{phone},#{name},#{address},#{manager})
        </insert>-->
    <select id="get" resultType="domain.user.UserVO">
        select * from tbl_user where id = #{id}
    </select>
</mapper>